<!DOCTYPE html>
<!--[if IE 6]><html lang="ko-KR" class="ie6"><![endif]-->
<!--[if IE 7]><html lang="ko-KR" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="ko-KR" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="ie9"><![endif]-->
<!--[if !IE]><!--><html lang="ko-KR"><!--<![endif]-->
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="UTF-8">
		<title> Images &mdash; WS </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="image test">
	    <meta name="keywords" content="image">

	    <link rel="stylesheet" href="../css/style.css">
	    <link rel="shortcut icon" href="../images/pepsi.png">
	</head>

	<body>
		<h1>Images</h1>

		<p>
			<a href="../index.html">Home</a>
			<a href="text.html">Texts</a>
			<a href="image.html">Images</a>
			<a href="iecc.html">IE Conditional Comment</a>
		</p>

		<hr>

		<h3>favicon Test</h3>
		<img src="../images/pepsi.png" alt="pepsi">
		
		<hr>

		<h3>img Test</h3>
		<img src="http://placehold.it/800x600/000/fff/?text=test text" alt="test text">
	</body>
</html>