/* button */
.button{
	cursor: pointer;
	border: none;
	/*border-bottom: 2px solid #939393;*/
	padding: 0.25em 0.5em;
	background-color: #ECECEC;
	color: #666666;
	font-size: 1rem;
}

.button.button-3d {
	border-bottom: none;
	box-shadow: 1px 1px 1px #939393,
				2px 2px 1px #939393,
				3px 3px 1px #939393,
				4px 4px 1px #939393,
				5px 5px 1px #939393;
}

.button-round {
	border-radius: 0.4em;
}
.button-rounder {
	border-radius: 0.6em;
}
.button-roundest {
	border-radius: 0.8em;
}

/* button.slide-from- */
button[class*="slide"] {
	position: relative;
	z-index: 0;
	/*border: 4px solid #B200FF;*/
	background-color: #1890E6;
	color: #FFFFFF;
}

button[class*="slide"]::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: inherit;
	background-color: #7FC9FF;
	transition: all 0.6s;
}

/* slide-from-left */
button.slide-from-left::after {
	right: 100%;
}
button.slide-from-left:hover::after,
button.slide-from-left:focus::after {
	right: 0%;
}

/* slide-from-right */
button.slide-from-right::after {
	left: 100%;
}
button.slide-from-right:hover::after,
button.slide-from-right:focus::after {
	left: 0;
}

/* slide-from-top */
button.slide-from-top::after {
	bottom: 100%;
}
button.slide-from-top:hover::after,
button.slide-from-top:focus::after {
	bottom: 0;
}

/* slide-from-bottom */
button.slide-from-bottom::after {
	top: 100%;
}
button.slide-from-bottom:hover::after,
button.slide-from-bottom:focus::after {
	top: 0;
}

/* button.grow- */
button[class*="grow-"] {
	position: relative;
	z-index: 1;
	background-color: #1890E6;
	color: #FFFFFF;
	overflow: hidden;
}

button[class*="grow-"]::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: inherit;
	background-color: #7FC9FF;
	transition: all 0.6s;
}

/* grow-rectangle */
button.grow-rectangle::after {
	transform: scale(0);
}
button.grow-rectangle:hover::after,
button.grow-rectangle:focus::after {
	transform: scale(1);
}

/* grow-ellipse */
button.grow-ellipse::after {
	border-radius: 50%;
	transform: scale(0);
}
button.grow-ellipse:hover::after,
button.grow-ellipse:focus::after {
	transform: scale(1.6);
}

/* grow-circle */
button.grow-circle::after {
	border-radius: 50%;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	/* 의미없는 상태 변화라도 같이 써줘야 인식 */
	transform: translate(-50%,-50%) scale(0);
}
button.grow-circle:hover::after,
button.grow-circle:focus::after {
	transform: translate(-50%,-50%) scale(1.6);
}

/* grow-skew */
button.grow-skew::after {
	left: 50%;
	right: 50%;
	transform: skewX(45deg);
}
button.grow-skew:hover::after,
button.grow-skew:focus::after {
	left: -20%;
	right: -20%;
}

/* grow-skew-45 */
button.grow-skew-45::after {
	left: 50%;
	right: 50%;
	transform: skewX(-45deg);
}
button.grow-skew-45:hover::after,
button.grow-skew-45:focus::after {
	left: -20%;
	right: -20%;
}

/* grow-spin */
button.grow-spin::after {
	transform: rotate(0deg) scale(0);
}
button.grow-spin:hover::after,
button.grow-spin:focus::after {
	transform: rotate(180deg) scale(1);
}

/* grow-spin-ccw */
button.grow-spin-ccw::after {
	transform: rotate(0deg) scale(0);
}
button.grow-spin-ccw:hover::after,
button.grow-spin-ccw:focus::after {
	transform: rotate(-180deg) scale(1);
}

/* transform-origin: horizontal vertical; */