<!DOCTYPE html>
<!--[if IE 6]><html lang="ko-KR" class="ie6"><![endif]-->
<!--[if IE 7]><html lang="ko-KR" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="ko-KR" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="ie9"><![endif]-->
<!--[if !IE]><!--><html lang="ko-KR"><!--<![endif]-->
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="UTF-8">
		<title> IE Conditional Comment &mdash; WS </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="IE Conditional Comment">
	    <meta name="keywords" content="ie,conditional,comment">

	    <style>
      		.ie7 body { background: #FF6666; }
      		.ie8 body { background: #6464FF; }
      		.ie9 body { background: #64FF64; }
      		body {
        		background: #FFFF64;
      		}
    </style>
	</head>

	<body>
		<h1>IE Conditional Comment</h1>

		<p>
			<a href="../index.html">Home</a>
			<a href="text.html">Texts</a>
			<a href="image.html">Images</a>
			<a href="iecc.html">IE Conditional Comment</a>
		</p>

		<hr>

		<h2>IE 7 #FF6666</h2>
		<img src="http://placehold.it/200x100/000000/FF6666/?text=FF6666" alt="FF6666">

		<h2>IE 8 #6464FF</h2>
		<img src="http://placehold.it/200x100/000000/6464FF/?text=6464FF" alt="6464FF">

		<h2>IE 9 #64FF64</h2>
		<img src="http://placehold.it/200x100/000000/64FF64/?text=64FF64" alt="64FF64">

		<h2>!IE #FFFF64</h2>
		<img src="http://placehold.it/200x100/000000/FFFF64/?text=FFFF64" alt="FFFF64">
	</body>
</html>